div#topper
  div.title Rainfall in Southern Africa

ul#legend
  li.precip-none 
    b
    div No rainfall
  li.precip-lt-50
    b
    div Less than half of normal
  li.precip-lt-75
    b
    div Below normal
  li.precip-normal
    b
    div Normal
  li.precip-over
    b
    div Above normal

div#map.clear

div#selector
  div.prev &#x25C0;&#xFE0E; Previous
  div.month October 2015
  div.next Next &#x25B6;&#xFE0E;
