div#map

ul#legend
  li.precip-none 
    b
    div No rainfall
  li.precip-lt-50
    b
    div Less than half of normal
  li.precip-lt-75
    b
    div Below normal
  li.precip-normal
    b
    div Normal
  li.precip-over
    b
    div Above normal

div.clear
