/*
 * Config
 */
border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

$precip_none = #e96541
$precip_lt_50 = #f69b69
$precip_lt_75 = #fecd93
$precip_normal = #ffffbf
$precip_over = #d3dcbe

/*
 * Thing styles
 */
svg
  background-color: $qz-map-water

#topper
    fill: $qz-body-black
    font-family: 'AdelleSans-Regular', Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    font-size: 26px

#map
    border-top: 2px solid #666
    width: 100%

.countries path
  stroke: black
  stroke-width: 2px
  // fill: $qz-map-land-fill
  fill: none

.arrows path {
  stroke-width: 2px;
  stroke: black;
  fill: none;
}

.labels text
  fill: black
  font-family: 'AdelleSans-Regular', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  font-size: 12px

.shadows text {
  fill: #fff;
  font-family: 'AdelleSans-Regular', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  stroke: #fff;
  stroke-width: 2px;
  opacity: .7;
}

ul#legend
  padding: 0 0 5px 0
  margin-left: 0
  margin-top: 5px
  list-style-type: none

  li
    display: inline-block
    margin: 0 18px 0 0
    padding: 0
    line-height: 18px

    b
      display: inline-block
      width: 16px
      height: 16px
      margin-right: 6px
      float: left
      border: 1px solid black

    div
      whitespace: nowrap
      fill: $qz-gray-2
      font-size: 16px
      font-family: 'AdelleSans-Regular', Helvetica, Arial, sans-serif
      float: left;

    &.precip-none b
      background-color: $precip_none

    &.precip-lt-50 b
      background-color: $precip_lt_50

    &.precip-lt-75 b
      background-color: $precip_lt_75

    &.precip-normal b
      background-color: $precip_normal

    &.precip-over b
      background-color: $precip_over

div.clear
  clear: both

div#selector
    fill: $qz-body-black
    font-family: 'AdelleSans-Regular', Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    font-size: 26px
    width: 100%
    text-align: center

    div
      display: inline-block

      &.month
          width: 200px

      &.prev
        visibility: hidden

      &.prev:hover, &.next:hover
          cursor: pointer

/*
 * Media queries
 */
@media screen and (max-width: 600px)
  .countries path
    stroke-width: 1px

  rect.next
    stroke-width: 1px

  .arrows path
    stroke-width: 1px

  ul#legend
    padding: 5px 0
    text-align: left

    li
        line-height: 16px

        b
            width: 14px
            height: 14px

        div
            font-size: 14px

  div#selector
    font-size: 26px
    width: 100%
    text-align: center

    .prev, .next
      font-size: 40px
